
body {

  background-color: black;
}


Navbar{

  background-color: black;

  position: fixed;
  top: 0;
  width: 100%;

}

Navbar.Brand{
  inset: 0px; 
  box-sizing: border-box; 
  padding: 0px; 
  border: none; 
  margin: auto; 
  display: block; 
  width: 0px; 
  height: 0px; 
  min-width: 100%;
   max-width: 100%;
  



}

Nav Link {

  font-weight: 500;
  padding: 28px 12px;
  font-size: 16px;
  display: block;
  color:#acacac;
  margin: 0 8px;
  border-radius: 3px;
  transition: var(--transition);




}