
body{

  background-color: black;
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
  
  .card1{

    background-color: black;
    
    color: white;
  


   


  }

  .APP {

    background-color: black;


  }
  

  .btn-space {
    margin-right: 15px;
}
