.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height:max-content;
    box-shadow: none;
   font-family:  "Roboto", sans-serif;
    background-color: black;
    box-shadow:"none";
    
  
  }

  
   *{

    background-color: black;
   }


  

 
  
  .card-img-top {
    width: 100%;
    height: 15vw;
    border-radius: 25px;
    object-fit: cover;
}

.bg-black .discover .dao2 Card.img {

  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color:black;
 background-color: black;

    






}


  .card-img-top:hover{
 
  -webkit-transform:scale(1.10);
  -moz-transform:scale(1.10);
  -ms-transform:scale(1.10);
  -o-transform:scale(1.10);
  transform:scale(1.10);
  
}


.items {
 background-color: gray;
 font-size: smaller;
 float: right;
 


}