.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: black;
    
  
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    border-radius: 25px;
    object-fit: cover;
}

.zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom :hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}