.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height:max-content;
    box-shadow: none;
   
    background-color: black;
    box-shadow:black;
    
  
  }

  
   body{

    background-color: black;
   }


  

 
  .dao1,.dao2 {
   
    background-color: rgb(51, 50, 50);

    max-width: 45%;
    max-height:max-content;
    border-spacing: 20px;


  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    border-radius: 25px;
    object-fit: cover;
}




  .card-img-top:hover{
 
  -webkit-transform:scale(1.10);
  -moz-transform:scale(1.10);
  -ms-transform:scale(1.10);
  -o-transform:scale(1.10);
  transform:scale(1.10);
  
}


.items {
 background-color: gray;
 font-size: smaller;
 float: right;
 


}