.col-lg-6{
  
   
    padding: 5%;
    border:5%;

   


}

.container-fluid {

margin: 20px;


}

.upload-area{

max-width:500px;
max-height:1000px;

}

button {
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;

    font-size: 12px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    max-height: max-content;
  }


  .btn-space {
    margin-right: 20px;
}