.col-lg-6{
  
   
    padding: 5%;
    border:5%;

   


}

.container-fluid {

margin: 20px;


}

.upload-area{

max-width:500px;
max-height:1000px;

}


  
  .btn-space {
    margin-right: 20px;
}

