
body{

background-color: rgb(46, 43, 43);

}

.container-fluid {

margin: 20px;

}

.upload-area{

max-width:350px;
max-height:1000px;

}

 
  .btn-space {
    margin-right: 20px;
}

.container-fluid{

    background-color: rgb(46, 43, 43)
}