

.container-fluid {

margin: 20px;

}

.upload-area{

max-width:350px;
max-height:1000px;

}

 
  .btn-space {
    margin-right: 20px;
}


.rn-breadcrumb-inner {
  border-bottom: 1px solid #ffffff14;
}
.ptb--30 {
  padding: 30px 30px !important;
}

.container {
  padding: 2px 16px;
  
}

.main {
  box-sizing: border-box;

  background-image:  ("./images/noise.gif");
}
*, :after, :before {
  box-sizing: border-box;
}

.main {
  display: block;

  font-size: 14px;
    line-height: 1,5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto",sans-serif;
    color: #acacac;
    font-weight: 400;
    position: relative;
}

ul li {
  font-size: 14px;
  line-height: 1,5;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #acacac;
}

li {
  text-align: -webkit-match-parent;
}
.rn-breadcrumb-inner .breadcrumb-list li a {
  color: #acacac;
  transition: .4s;
}

.rn-breadcrumb-inner .breadcrumb-list li.separator {
  margin: 10px 15px

}



.rn-breadcrumb-inner .breadcrumb-list{
  display: inline-flex;
  list-style-type: none;
  
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

label {
  display: block;
}

.Upload {
  font-size: 40px;
  stroke-width: 1px;
  color: #00a3ff;
  margin-bottom: 10px;
}
.container-name {
 
  width: 347px;
 margin-left: 10px;


}

.text-center {
  text-align: center!important;
  
}
div.text-center{

  font-size:  20px ;
  margin-bottom: 10px;

}

.pageTitle{
font-weight: 700;

}

.ptb--30 {
  padding: 30px 0!important;
}

.rn-breadcrumb-inner .breadcrumb-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li.item.current{

  color: white;
}

@media (min-width: 992px){
.col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

}

.col-lg-7 {
  max-width: 800px;
}



.btn-group >button.btn.btn-large.btn-primary{
  
  background-color: #00a3ff;
text-transform: capitalize;
}





button.btn.btn-large.btn-primary-alta:hover{
 
  
  background-color: #00a3ff;
 
}
button.btn.btn-large.btn-primary:hover{
  
 
  background-color: #212e48;
}

@media (min-width: 768px){
.text-md-start {
    text-align: left!important;
}
}


.upload:hover {
  -ms-transform: scale(0.8); /* IE 9 */
  -webkit-transform: scale(0.8); /* Safari 3-8 */
  transform: scale(0.8); 
}